.vs/
# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
env/
backend/node_modules
frontend/node_modules
node_modules/

# Flask-specific files
instance/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*
